.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App img {
  margin: 5px;
}

.App p {
  color: #ffff00; /* Dark yellow */
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  margin: 0px;
  padding: 5px 10px 5px;
  border: none;
  width: 1200px;
  font-size: 30px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%); /* Adjust for the center alignment */
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.App label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}

.App button {
  cursor: pointer;
  margin: 8px;
}

/* Additional styling for the select element if needed */
.App select {
  /* Add any specific styles for the select element here */
}
